*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
    font-family: 'Open Sans, Sans-serif';
}
#box1{
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    margin: 1%;
}
#box2{
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 1%;
}
#box3{
    width: 60px;
    height: 60px;
    background-color: fuchsia;
    margin: 1%;
}